<div>
  <h1>Galeria</h1>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-6 mb-3" *ngFor="let img of images">
      <img
        [src]="img"
        alt="galeria"
        class="img-thumbnail"
        (click)="enlarge(img)"
        style="width: 450px; height: 300px; object-fit: cover; cursor: pointer;" 
      />
    </div>
  </div>
</div>

<!-- Modal powiększonego zdjęcia -->
<div
  class="modal fade show d-flex justify-content-center align-items-center"
  tabindex="-1"
  role="dialog"
  style="display: block;"
  *ngIf="enlargedImage"
>
  <div class="modal-dialog modal-dialog-centered" style="width: 50%; max-width: unset;">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img
          [src]="enlargedImage"
          alt="powiększony obraz"
          class="img-fluid"
          style="width: 80%; max-height: 80%; object-fit: contain;"
        />
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeEnlarge()">Zamknij</button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal-backdrop fade show"
  *ngIf="enlargedImage"
  (click)="closeEnlarge()"
></div>
