<div class="container">
  <h1 class="mt-5">Technologie aplikacji webowych</h1>
  <p class="text-muted">Autor: Bartłomiej Król</p>
  <hr />

  <h2 class="mt-4">Blog o zwierzątkach</h2>
  <p>Witaj na naszym blogu o zwierzątkach!</p>
  <p>
      Jeśli uwielbiasz słodkie, urocze stworzenia, to jesteś w idealnym miejscu. Nasz blog poświęcony jest wszystkim małym zwierzątkom, które podbijają serca ludzi na całym świecie. Każdy post to wyjątkowa opowieść o konkretnym zwierzątku, jego zwyczajach, cechach charakteru i ciekawostkach, które sprawiają, że są tak niezwykłe.
  </p>
  <hr />

  <h3 class="mt-4">Dlaczego piszemy o zwierzątkach?</h3>
  <p>
      Małe zwierzęta, takie jak jeże, króliczki czy szczeniaczki, nie tylko zachwycają swoim wyglądem, ale także wywołują uśmiech na twarzy każdego, kto je spotka. Naszym celem jest dzielenie się tą radością i wiedzą o tych niesamowitych stworzeniach, które zasługują na naszą uwagę i opiekę.
  </p>
  <hr />
</div>
